.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
%input {
  width: 100%;
  height: 45px;
  color: $black;
  padding: 0 15px;
  border: 1px solid $purple;
  background: center;
  border-top: none;
  border-left: none;
  border-right: none;
}

.input-insert {
  @extend %input;
  &[type="checkbox"] {
    width: inherit;
    height: inherit;
  }
}
textarea {
  @extend %input;
  padding: 15px;
  height: 60px;
}
.btn-insert{
  @extend %input;
  border-radius: 50px;
  background: #f09;
  border-color: #f09;
  color: $white;
}
%feedback{
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
}
.valid-feedback {
  @extend %feedback;
  display: none;
}
.invalid-feedback {
  @extend %feedback;
  display: block;
  color: #fd011a;
}
