* {
  box-sizing: border-box;
}
body {
    font-family: Arial
}
header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  width: 100%;
  margin:0 0 10px 0;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    margin: 0;
    margin-right: auto;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.navbar ul .nav-link {
    padding: 0 0.5rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
  color: #ffffff;
}
.navbar ul .nav-link.active{
    display: flex;
    justify-content: center;
    align-items: center;
  color: #0075ff;
  background-color: #ffffff;
  width: 50px;
    height: 50px;
   border-radius: 50%;
  box-shadow: 0 0 10px #ddd inset;
}

//

.master {
    height: 100vh;
}

.master::before {
    content: "";
    position: fixed;
    width: 300%;
    height: 100%;
    background-color: #0075ff;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) skew(0, -10deg);
    border-radius: 50%;
    z-index: -1;
    animation: waving 5s ease-in-out infinite alternate;
}


@keyframes waving {
    from {
        transform: translateX(-50%) skew(0, -10deg);
    }

    to {
        transform: translateX(-30%) skew(10deg, 0);
    }
}
.container{
    margin: 0 3%;
  padding: 0 3%;
    width: 100%;
    display: flex;
/*     flex-wrap: inherit; */
    align-items: center;
    justify-content: space-between;
  background-color:#0075ff;
  border-radius: 10px;
  text-align: center;
}
.card {
    width: 300px;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd inset;
}
.card-2{
    width: auto;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 200%);
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd inset;
  
}
.card-3{
    width: auto;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -5%);
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px #ddd inset;
  
}

table {
    display: flex;
    align-items: center;
    justify-content: start;
    max-width: max-content
  border: 1px solid #000;
   border-radius: 10px;
  border-collapse: collapse;
}


td,
th {
    border: 1px solid #000;
    border-collapse: collapse;
}
/* ============= */
.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.form-input{
  height: 45px;
    color: #000;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #0075ff;
    background: 0 0;
    width: 100%;
}
.submit-input{
  padding: 10px 30px 12px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
  width: 100%;
  color: #ffffff;
  background:#0075ff;
      border: none;
    border-radius: 60px;
}